@font-face {
  font-family: 'Open Sans';
  src: url('~@/assets/fonts/OpenSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

$body-font-family: 'Open Sans', sans-serif;